*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: url('images/background_small.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Crimson Text', serif;
}

.main {
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
  /*  height: 100vh;*/
}


h1,
h2,
.linkA,
.linkB,
.linkC,
.linkD {
  color: rgb(51, 50, 48);
}

h1 {
  margin-bottom: 12%;
  font-size: 1.1rem;
  font-weight: 700;
  /*  font-family: 'Roboto', sans-serif;*/
  text-transform: uppercase;
  color: rgb(34, 34, 34);
}

h2 {
  font-size: 1rem;
  /*  font-family: 'Roboto', sans-serif;*/
  color: rgb(34, 34, 34);
}

.arrow,
.second-arrow {
  width: 200px;
  height: 360.2674px;
  text-align: justify;
  position: relative;
  display: inline-block;

}

.arrow {
  z-index: 1;
}

.second-arrow {
  top: -290px;
}

.arrow:after,
.second-arrow:after {
  content: '';
  display: block;
  position: absolute;
  transform: matrix(0.5, -0.4016, 1.245, 1, 0, 0);
  transform-origin: top left;
  box-shadow: 5px 0px 30px -1px rgb(0, 0, 0, 0.5);
  height: 22.2973%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
}

.arrow:after {
  background-color: rgb(234, 234, 232);
  z-index: -1;
}

.second-arrow:after {
  background-color: rgb(210, 214, 213);
  z-index: -1;
}

.arrow .first-arrow-content,
.second-arrow .second-arrow-content {
  width: 100%;
  height: 77.7027%;
}

.arrow .first-arrow-content {
  background-color: rgb(234, 234, 232);
  font-stretch: semi-condensed;

}

.second-arrow .second-arrow-content {
  background-color: rgb(210, 214, 213);
  padding: 8% 8% 8% 8%;
  position: relative;

}

.image {
  border-radius: 50%;
  opacity: 0.8;
  filter: grayscale(30%);
  width: 42%;
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(10%);
  transition: transform .15s ease-in-out;
}


.name {
  width: 42%;
  text-align: center;
  margin: 0 auto;
}

.arrow-upper,
.arrow-lower {
  width: 100%;
  height: 49%;
}

.arrow-upper {
  padding: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-lower {
  padding: 8%;
  font-size: 0.6rem;
  line-height: 1.3;
  font-weight: 500;
  /*  font-family: 'Montserrat', sans-serif;*/
}


.nested-plus-sign:after,
.nested-plus-sign:before,
.nested-border {
  background-color: rgb(51, 50, 48);
}

.nested-border {
  position: relative;
  left: -30%;
  /*margin:0 15% 0 -25%;*/
  width: 100%;
  height: 2px;
  margin: 0%;

}

.nested-plus-sign {
  position: absolute;
  /*background-color: aqua;*/
  width: 18px;
  height: 18px;
  left: 150px;
  top: 165px;
}

.nested-plus-sign:after {
  position: absolute;
  display: block;
  content: '';
  width: 2px;
  height: 100%;
  left: 47%;
}

.nested-plus-sign:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  top: 47%;
}

.link{
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  font-size: 1.2rem;
  position: absolute;
}

.linkA {
  bottom: 0%;
  left: 14%;
}

.linkB {
  bottom: -14.5%;
  left: 35%;
}

.linkC {
  bottom: -14.5%;
  right: 35%;
}

.linkD {
  bottom: 0;
  right: 14%;
}




/*TABLET VERSION*/

@media(min-width:480px) {
  
 
body {
  background: url('images/background2_small.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Crimson Text', serif;
}

  h1 {
    margin-bottom: 25%;
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .arrow-lower {
    font-size: 0.925rem;
  }

  .arrow,
  .second-arrow {
    width: 290px;
    height: 522.3776px;
  }

  .second-arrow {
    top: -435px;
  }


  .nested-plus-sign {
    width: 25px;
    height: 25px;
    left: 220px;
    top: 250px;
  }
  
  .link{
    font-size: 1.5rem;
  }

}

/*DESKTOP VERSION*/

@media (min-width:992px) {

  body {
    background: url('images/image5_small.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .main {
    margin-top: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100vh;
  }


  h1 {
    font-size: 1.3rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .arrow,
  .second-arrow {
    width: 380.5713px;
    height: 450px;
  }

  .arrow {
    margin-left: 5.5%;

  }

  .second-arrow {
    top: 0;
    left: -260px;
  }

  .arrow .first-arrow-content,
  .second-arrow .second-arrow-content {
    width: 77.7027%;
    height: 100%;
  }


  .arrow:after,
  .second-arrow:after {
    width: 22.2973%;
    height: 100%;
    transform: matrix(1, 2.6515, -0.1885, 0.5, 0, 0);
    transform-origin: top left;
    box-shadow: 5px 0px 30px -1px rgba(0, 0, 0, 0.5);
    bottom: auto;
    left: auto;
    right: 0;
    top: 0;

  }

  .arrow-upper {
    display: list-item;
    text-align: center;
  }

  .image {
    border-radius: 50%;
    opacity: 0.8;
    height: 65%;
    width: auto;
    text-align: center;
  }


  .name {
    margin: 0;
    width: 100%;
  }


  .nested-border {
    left: -25%;
    width: 110%;
    height: 3px;
    margin: 2%;
  }

  .nested-plus-sign {
    width: 30px;
    height: 30px;
    left: 110%;
    top: -15px;
  }

  .nested-plus-sign:after {
    width: 3px;
  }

  .nested-plus-sign:before {
    height: 3px;
  }

  .link{
    font-size: 2rem;
    color: rgb(51, 50, 48);
  }

  .linkA {
    top: 16%;
    right: 6%;
    bottom: auto;
    left: auto;
  }

  .linkB {
    top: 36%;
    right: -3.5%;
    bottom: auto;
    left: auto;
  }

  .linkC {
    bottom: 36%;
    right: -3.5%;
  }

  .linkD {
    bottom: 16%;
    right: 6%;
  }



}
